@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';
:root {
  font: 16px / 1 sans-serif;
  --header-background: #028e20;
  --header-text-color: #fff9c2;
  --header-font-size: 3rem;
  --square-font-size: calc(8 * var(--header-font-size));
  --square-text-color: #b39a56;
  --square-background-color: #98abdd;
  --square-border: 3px solid var(--square-text-color);
  --easy-cell-size: 3rem;
  --easy-board-size: 8;

  --intermediate-cell-size: 2rem;
  --intermediate-board-size: 16;

  --expert-cell-size: 1.5rem;
  --expert-board-size: 24;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  max-width: fit-content;
  max-height: fit-content;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4ecd6;
}

h1 {
  text-align: center;
  font-family: 'Jolly Lodger', cursive;
  letter-spacing: 0.4rem;
  font-size: var(--header-font-size);
  color: var(--header-text-color);
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: var(--header-background);
}

h2 button {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
}

section.difficulty-0 {
  grid-template-columns: repeat(var(--easy-board-size), 1fr);
  grid-template-rows: repeat(var(--easy-board-size), 1fr);
  width: calc(var(--easy-board-size) * var(--easy-cell-size));
  height: calc(var(--easy-board-size) * var(--easy-cell-size));
}

section.difficulty-1 {
  grid-template-columns: repeat(var(--intermediate-board-size), 1fr);
  grid-template-rows: repeat(var(--intermediate-board-size), 1fr);
  width: calc(var(--intermediate-board-size) * var(--intermediate-cell-size));
}

section.difficulty-2 {
  grid-template-columns: repeat(var(--expert-board-size), 1fr);
  grid-template-rows: repeat(var(--expert-board-size), 1fr);
  width: calc(var(--expert-board-size) * var(--expert-cell-size));
}

section button {
  margin: 0;
  padding: 0.5;
  background-color: rgba(50, 188, 105, 0.359);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
}

section.difficulty-0 button {
  width: var(--easy-cell-size);
  height: var(--easy-cell-size);
}

section.difficulty-1 button {
  width: var(--intermediate-cell-size);
  height: var(--intermediate-cell-size);
}

section.difficulty-2 buttonli {
  width: var(--expert-cell-size);
  height: var(--expert-cell-size);
}

button.cell-number {
  color: rgb(0, 0, 0);
}

button.cell-bomb {
  background-color: rgba(251, 102, 48, 0.907);
  color: rgb(0, 0, 0);
}

button.cell-flag {
  background-color: rgba(238, 218, 102, 0.825);
  color: rgb(0, 0, 0);
}

button.cell-free {
  background-color: rgb(176, 160, 81);
}

.difficulty-0 button.cell-number {
  font-weight: bold;
  font-size: 1.7rem;
}
.difficulty-1 button.cell-number {
  font-weight: bold;
  font-size: 1.3rem;
}

.difficulty-2 button.cell-number {
  font-weight: bold;
  font-size: 1rem;
}
button.cell-1 {
  background-color: rgb(147, 134, 67);
}

button.cell-2 {
  background-color: rgb(132, 124, 87);
}

button.cell-3 {
  background-color: rgb(133, 115, 21);
}
